Adafruit-PureIO==1.1.11
Adafruit_GPIO==1.0.3
Adafruit_PCA9685==1.0.1
blinker==1.8.2
cfgv==3.4.0
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
distlib==0.3.8
filelock==3.15.4
Flask==3.0.3
fonttools==4.53.1
identify==2.6.0
itsdangerous==2.2.0
Jinja2==3.1.4
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.9.2
mypy==1.11.1
mypy-extensions==1.0.0
nodeenv==1.9.1
numpy==2.0.1
opencv-python==4.10.0.84
packaging==24.1
pandas==2.2.2
pillow==10.4.0
platformdirs==4.2.2
pre-commit==3.8.0
pygame==2.6.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
RPi.GPIO==0.7.1
ruff==0.6.1
six==1.16.0
spidev==3.6
tomli==2.0.1
typing_extensions==4.12.2
tzdata==2024.1
virtualenv==20.26.3
Werkzeug==3.0.3
